html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
.banner1 {
    width: 100%;
    height: 100vh;
    overflow:hidden;
    background-color: #f5fafd;
    /* clip-path: polygon(0% 0%, 100% 0%, 100% 83.8%, 0% 100%); */
}

.btn1 {
    margin-top: 40px;
    padding: 10px;
    font-size: 20px;
    background-color:transparent;
    border-radius: 6px;
    cursor: pointer;
}