.cart {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 1.5rem;
}

.btn-outline-success.btn:hover {
    color: var(--bs-btn-hover-color);
    background-color:teal;
    border-color: var(--bs-btn-hover-border-color);
}